@charset "utf-8";
$main-width: 1200px;
$main-color: #333;

.ym-drag-from {
  position: relative;
  display: inline-block;
  width: ($main-width - 400px) / 2;
  font-size: 12px;
}

.ym-drag-item {
  float: left;
  width: 150px;
  height: 40px;
  cursor: move;
  margin: 15px 15px 0 0;
  border: 1px rgba(#fff, .7) dashed;
  color: #fff;
  line-height: 40px;

  .item-label,
  .item-label2,
  .item-options,
  .item-placeholder {
    display: none;
  }
  .item-title,
  .item-label,
  .item-label2 {
    line-height: 40px;
    padding-left: 15px;
  }

  &[data-componentName='ym-component-date'] {
    background: url("../images/icon.png") 115px -160px no-repeat;
  }
  &[data-componentName='ym-component-singleText'] {
    background: url("../images/icon.png") 115px -40px no-repeat;
  }
  &[data-componentName='ym-component-singleChoose'] {
    background: url("../images/icon.png") 115px -80px no-repeat;
  }
  &[data-componentName='ym-component-photos'] {
    background: url("../images/icon.png") 115px -240px no-repeat;
  }
  &[data-componentName='ym-component-mutiText'] {
    background: url("../images/icon.png") 115px top no-repeat;
  }
  &[data-componentname="ym-component-dateBlock"] {
    background: url("../images/icon.png") 115px -120px no-repeat;
  }

  &.draging {
    position: absolute;
    background-color: rgba($main-color, .7)!important;
    border-style: solid;
    border-color: #333;
  }

  .del-drag {
    position: absolute;
    right: 0;top: 0;
    width: 15px;
    height: 15px;
    background-color: red;
    cursor: pointer;
    display: none;
    color: #fff;
    line-height: 15px;
    text-align: center;
  }
}

.ym-drag-to {
  display: inline-block;
  width: 400px;
  height: 685px;
  font-size: 14px;
  margin-top: 100px;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0eff4;

  &.empty {
    background: #f0eff4 url(../images/empty.png) center 100px no-repeat;
  }

  .dragged {
    float: none;
    width: 397px;
    margin: 10px auto;
    height: 50px;
    border: 1px transparent solid;
    background-color: #fff!important;
    border-top-color: #ccc;
    border-bottom-color: #ccc;

    .drag-formGroup {
      font-size: 16px;
      line-height: 50px;

      .item-title {
        display: none;
      }
      .item-label,
      .item-label2,
      .item-options,
      .item-placeholder {
        display: inline;
      }
      .item-label {
        padding-right: 10px;
        color: #333;
      }
      .item-placeholder {
        display: inline-block;color: #aaa;font-size: 14px;
      }
      .item-options {
        float: right;margin-right: 15px;margin-top: 6px;width: 30px;height: 25px;
        img { width:100%;height:100%; }
      }
    }
    &[data-componentname^='ym-component-dateBlock'] {
      height: 100px;
    }
    &[data-componentname^='ym-component-mutiText'] {
      height: 80px;
    }
    &[data-componentname^='ym-component-date'] {
      .item-placeholder {
        float: right;
        margin-right: 15px;
      }
    }
    &[data-componentname^="ym-component-dateBlock"] {
      .item-label, .item-label2 {
        display: block;height: 50px;line-height: 50px;color: #333;padding-right: 15px;
        &:after{
          content: "请选择";
          float: right;
          font-size: 14px;
          color: #aaa;
        }
      }
      .item-label2 { border-top: 1px #ccc solid; }
    }
  }
  .target-line {
    width: 398px;
    border: 1px red solid;
    display: none;
  }
  .curr-edit {
    border-color: red;
    border-style: solid!important;
  }

  .ym-drag-item:hover {
    border-color: red;
    border-style: dashed;
    position: relative;

    .del-drag{
      display: block;
    }
  }
}

.ym-drag-setting {
  float: right;
  width: ($main-width - 400px) / 2;
  font-size: 12px;

  .tab {
    margin-left: 60px;
  }
}