.confirms {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5); }

.confirms-box {
  width: 7.56rem;
  font-size: 0.4167rem;
  background-color: #eee;
  margin: 4rem auto;
  border-radius: 0.084rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.639rem 0.361rem 0.639rem 0.639rem;
  color: #222; }
  .confirms-box .title {
    font-size: .527rem;
    color: #222;
    font-weight: 600;
    margin-bottom: .694rem; }
  .confirms-box p {
    text-align: left; }
  .confirms-box #confirms-prompt {
    width: 6.278rem;
    border: none;
    background-color: #eee;
    font-size: 0.4167rem;
    margin: 0 .28rem 0 0; }
  .confirms-box .confirms-btns {
    font-size: 0;
    text-align: right; }
  .confirms-box .confirms-btn {
    display: inline-block;
    width: 1.67rem;
    height: .83rem;
    color: #767676;
    text-align: center;
    line-height: .83rem;
    font-size: 0.4167rem;
    margin: .694rem 0 0 .139rem; }
    .confirms-box .confirms-btn:active {
      background-color: #dbdbdb; }
  .confirms-box .confirms-confirm {
    color: #fa565a; }

.alerts {
  position: fixed;
  top: 4rem;
  width: 100%;
  text-align: center;
  z-index: 20000;
  display: none;
  opacity: 0; }
  .alerts .alert-msg {
    display: inline-block;
    font-size: .45rem;
    color: #fff;
    border-radius: 1.528rem;
    padding: .278rem .6rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto; }

.alertFadeIn {
  -webkit-animation: fadeIn .3s ease-out forwards;
  animation: fadeIn .3s ease-out forwards; }

.alertFadeOut {
  -webkit-animation: fadeOut .3s ease-out forwards;
  animation: fadeOut .3s ease-out forwards; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.iOS .confirms-box {
  border-radius: .2rem;
  background-color: #fff;
  padding: 0; }
.iOS .msg {
  padding: 0.4rem; }
.iOS .title {
  text-align: center;
  font-weight: 400;
  font-size: .4733rem;
  margin-bottom: .4rem; }
.iOS p {
  text-align: center; }
.iOS .confirms-btns {
  border-radius: 0 0 .2rem .2rem;
  border-top: 1px #b4b4b4 solid; }
  .iOS .confirms-btns a {
    width: 50%;
    margin: 0;
    height: 1.1rem;
    line-height: 1.1rem;
    box-sizing: border-box;
    color: #fa565a; }
    .iOS .confirms-btns a:first-child {
      border-right: 1px #b4b4b4 solid; }
    .iOS .confirms-btns a:first-child:active {
      background-color: #dbdbdb;
      border-radius: 0 0 0 .2rem; }
    .iOS .confirms-btns a:last-child:active {
      background-color: #dbdbdb;
      border-radius: 0 0 .2rem 0; }
.iOS #confirms-prompt {
  width: 6.75rem;
  border: 1px #cecece solid;
  background-color: #fff;
  padding: .4rem;
  box-sizing: border-box; }

/*# sourceMappingURL=alertBox.css.map */
