@charset "utf-8";
/****************
 *
 * @依赖部分：字体及rem单位换算、页面重置
 * 
 *******************/
@import "reset";
@import "function";
body { @include font-dpr(16); }

/****************
 *
 * @弹窗样式：toasts、laerts、confirms、prompts
 *
 *******************/

.mask,
.confirms {
  position: fixed;
  top: 0;right: 0;bottom: 0;left: 0;
  background-color: rgba(0,0,0, .7);
  @include font-dpr(14);
}
.toasts {
  position: fixed;
  width: pxToRem(600);
  padding: pxToRem2(8) pxToRem2(10);
  border-radius: pxToRem(5);
  background-color: rgba(0,0,0,.8);
  color: #ffffff;
  top:40%;
  left:50%;
  margin-left: pxToRem(-300);
  text-align: center;
  @include font-dpr(14);
}
.alerts {
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: pxToRem(-130);
     margin-left: pxToRem(-270);
     width: pxToRem(540);
     background-color: #fff;
     border-radius: pxToRem(20);
    @include font-dpr(14);
    .alert-msg {
          border-bottom: 1px #cecece solid;
          padding: pxToRem(30) pxToRem(20);
     }
     .confirms-btn {
         display: block;
         color: #2794ff;
     }
    .confirms-alert {
        padding: pxToRem(20) 0;
        text-align: center;
    }
}
.confirms-box{
  position: absolute;
  top: 50%;left: 50%;
  margin-top: pxToRem(-262);
  margin-left: pxToRem(-283.5);
  width: 7.56rem;
  font-size: 0.4167rem;
  background-color: #eee;
  border-radius: 0.084rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.639rem 0.361rem 0.639rem 0.639rem;
  color: #222;
  .title{
    font-size: .527rem;
    color: #222;
    font-weight: 600;
    margin-bottom: .694rem;
  }
  p{
    text-align: left;
  }
  #confirms-prompt{
    width: 6.278rem;
    border: none;
    background-color: #eee;
    font-size: 0.4167rem;
    margin: 0 .28rem 0 0;
  }
  .confirms-btns{
    font-size: 0;
    text-align: right;
  }
  .confirms-btn{
    display: inline-block;
    width: 1.67rem;
    height: .83rem;
    color: #767676;
    text-align: center;
    line-height: .83rem;
    font-size: 0.4167rem;
    margin: .694rem 0 0 .139rem;
    &:active{
      background-color: #dbdbdb;
    }
  }
  .confirms-confirm{
    color: #2794ff;
  }
}

.alertFadeIn{
  -webkit-animation: fadeIn .3s ease-out forwards;
          animation: fadeIn .3s ease-out forwards;
}
.alertFadeOut{  
  -webkit-animation: fadeOut .3s ease-out forwards;  
          animation: fadeOut .3s ease-out forwards;
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


.iOS{
  .confirms-box{
    border-radius: .2rem;
    background-color: #fff;
    padding: 0;
  }

  .msg{
    padding: 0.4rem; 
  }
  
  .title {
    text-align: center;
    font-weight: 400;
    font-size: .4733rem;
    margin-bottom: .4rem;
  }

  p{
    text-align: center;
  }

  .confirms-btns{
    border-radius: 0 0 .2rem .2rem;
    border-top: 1px #b4b4b4 solid;

    a{
      width: 50%;
      margin: 0;
      height: 1.1rem;
      line-height: 1.1rem;
      box-sizing: border-box;
      color: #2794ff;
      &:first-child{
        border-right: 1px #b4b4b4 solid;
      }
      &:first-child:active{
        background-color: #dbdbdb;
        border-radius: 0 0 0 .2rem;
      }
      &:last-child:active{
        background-color: #dbdbdb;
        border-radius: 0 0 .2rem 0;
      }
    }

  }

  #confirms-prompt {
    width: 6.75rem;
    border: 1px #cecece solid;
    background-color: #fff;
    padding: .4rem;
    box-sizing: border-box;
  }

}